@import '../../styles/common';
.btn{
    width: 123px;
    height: 41px;
    background-color: #e3e3e3;
    border-radius: 10px;
    outline: none;
    color: #181e4b;
    border: none;
    margin-left: 10px;
    margin-bottom: 20px;
}

.active{
    background-color:#0eceff;
    color: #fff;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}